#parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}

.voilet{
    background-color: violet;
}